@model List<PoetSite.Models.GalleryImage>
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>Gallery11</h2>
@*<a class="btn btn-primary mb-3" asp-controller="Gallery" asp-action="Create">+ Upload Image</a>*@
@*
//<a class="btn btn-primary mb-3" asp-area="Admin" asp-controller="Gallery" asp-action="Create">+ Upload Image</a>
*@

<a class="btn btn-primary mb-3" href="/Admin/Gallery/Create">+ Upload Image</a>

<div class="row">
    @foreach (var img in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="@img.ImagePath" class="card-img-top" style="height:200px; object-fit:cover" />
                <div class="card-body text-center">
                    <small>@img.Caption</small><br />
                    <a asp-action="Delete" asp-route-id="@img.Id" class="text-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>