@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>Вуруди администратор</h2>

<form method="post">
    <div class="mb-3">
        <label>Логин</label>
        <input name="username" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Парол</label>
        <input name="password" type="password" class="form-control" />
    </div>

    @if (ViewBag.Error != null)
    {
        <div class="text-danger">@ViewBag.Error</div>
    }

    <button class="btn btn-primary">Даромадан</button>
</form>