@model PoetSite.Models.AudioPoem

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="mb-4">Илова кардани шеъри аудиоӣ</h2>

<form asp-area="Admin" asp-controller="Audio" asp-action="Create" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label>Сарлавха</label>
        <input name="title" class="form-control" />
    </div>
    
    <div class="mb-3">
        <label class="form-label">MP3 Файл</label>
        <input type="file" name="audioFile" class="form-control" accept="audio/mpeg" required />
    </div>
    <button type="submit" class="btn btn-success">
        💾 Сабт кардан
    </button>

    <a class="btn btn-secondary ms-2" href="/Admin/Audio/Index">Бекор кардан</a>
</form>

