@model PoetSite.Models.Book
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>Нест кардани китоб</h2>
<p>Оё шумо мутмаин ҳастед, ки мехоҳед ин китобро нест кунед?</p>

<strong>@Model.Title</strong>

<br /><br />

@if (!string.IsNullOrEmpty(Model.CoverImage))
{
    <img src="@Model.CoverImage"
         class="img-thumbnail"
         style="max-height:150px" />
}

<form asp-area="Admin" asp-controller="Books" asp-action="Delete" method="post" class="mt-3">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger">🗑 Нест кардан</button>
    <a class="btn btn-secondary" href="/Admin/Books/Index">Бекор кардан</a>
</form>
