body {
    font-family: 'Merriweather', serif;
}

.hero {
    min-height: 280px;
   /* background: linear-gradient(135deg, #1f2933, #111827);*/
}


.hero h1 {
    font-family: 'Playfair Display', serif;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}


.book-card {
    transition: transform .2s ease, box-shadow .2s ease;
}

.book-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0,0,0,.15);
}

img {
    transition: transform .3s ease;
}

img:hover {
    transform: scale(1.03);
}

.bg-custom {
    background-color: #198781 !important;
}

#mainNavbar .nav-link {
    color: #f8f9fa !important;
}
